.column_inner_2 .menu {
    position: static!important;
}
._eksp_top_menu .menu {
    overflow: hidden;
}
._eksp_top_menu ul li {
    float: left;
    margin-right: 10px;
}
._eksp_top_menu h3 {
    margin-right: 10px;
}