.main .contaniner {
    overflow: hidden;
    background: url(../images/side-collections.jpg) 100% 50%;
    background-size: 429px;
    background-repeat: repeat-y;
}
.container_block_excursions_all {
    margin: 75px 45px 0;
    overflow: hidden;
    /*background: url(../images/vyst_trace2.jpg) -45px -178px;*/
    background-size: 858px;
}
.container_block_excursions {
    width: 100%;
    overflow: hidden;
    display: block;
    float: left;
}
.excursions_left_sort,
.excursions_right_sort {
  font-size: 14px;

}
.excursions_left_sort h4,
.excursions_right_sort h4 {
    display: block;
    margin-bottom: 10px;
}
.excursions_left_sort .sort_items_container div,
.excursions_right_sort .sort_items_container div {
    display: inline-block;
    color: #000;
    vertical-align: top;
    line-height: 15px;
    cursor: pointer;
    margin-right:10px;
    text-decoration: underline;
}
.excursions_left_sort .sort_items_container div:hover,
.excursions_right_sort .sort_items_container div:hover {
    color: #f00;
}
.sort_items_container {
    margin-bottom: 75px
}
.moduletable._left._exhib {
    display: none;
}
.moduletable._left._exhib .moduleItemTitle {
    font-size: 20px;
    font-weight: bold;
}
.moduletable._left._exhib li {
    margin-bottom: 30px;
}
.moduletable._left._exhib._all {
    display: block;
}
/* ======= */
.k2ItemsBlock._left._exhib._all {
    position: relative;
    padding-top: 600px;
}
.k2ItemsBlock._left._exhib._all a.even_odd {
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.k2ItemsBlock._left._exhib._all a.even_odd img {
    display: none;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(1),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(2),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(3),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(4),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(5),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(6),
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(7)
 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-size: cover;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(1) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(2) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(3) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(4) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(5) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(6) .moduleItemIntrotext,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(7) .moduleItemIntrotext
{
    display: none;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(1) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(2) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(3) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(4) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(5) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(6) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(7) .moduleItemTitle
{
    display: block;
}

.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(2) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(3) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(4) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(5) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(6) .moduleItemTitle,
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(7) .moduleItemTitle
{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    font-size: 15px;
    line-height:20px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(1) .moduleItemTitle {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 570px;
    color: #fff;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(1) {
    top: -40px;
    left: 0px;
    width: 375px;
    height: 343px;
    overflow:hidden;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(2) {
    top: -40px;
    left: 390px;
    width: 181px;
    height: 185px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(4) {
    top: 321px;
    left: 0px;
    width: 171px;
    height: 147px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(3) {
    top: -40px;
    left: 586px;
    width: 180px;
    height: 249px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(5) {
    top: 320px;
    left: 186px;
    width: 191px;
    height: 200px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(6) {
    top: 250px;
    left: 392px;
    width: 179px;
    height: 249px;
}
.k2ItemsBlock._left._exhib._all a.even_odd:nth-child(7) {
    top: 266px;
    left: 588px;
    width: 179px;
    height: 250px;
}