.column_inner_2 {
}
.column_inner_2 #k2Container, .column_inner_2 .history_left_block {
    float: left;
}
.column_inner_2 #k2Container {
    width: 76%;
}
.column_inner_2 .history_left_stripe {
    position: absolute;
    top: 0px;
    right: 422px;
    width: 4px;
    z-index: 10010;
    bottom:0;
    background: transparent;
}
.column_inner_2 .history_left_stripe_base {
    position: absolute;
    top: 0px;
    right: 422px;
    width: 4px;
    z-index: 10000;
    bottom:0;
    background: #969696;
}
.column_inner_2 .history_left_block {
    /*overflow: hidden;*/
    position: absolute;
    top: 178px;
    right: 422px;
    width: 106px;
    z-index: 10000;
}
.column_inner_2 .history_left_block .history_left_block_inner {

}
.history_left_block_inner a {
    display: block;
    text-align: left;
    margin-bottom: 30px;
    border-top: 1px solid;
    padding-top: 5px;
    font-size: 15px;
    width: 89px;
    color: #969696;
    position: relative;
    margin-top: 3px;
    padding-right: 4px;
    white-space: nowrap;
    cursor: pointer;
}
.history_left_block_inner a:after {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    content: '';
    background: #969696;
}
.history_left_block_inner a:before {
    position: absolute;
    right: -13px;
    top: 0px;
    bottom: -31px;
    width: 4px;
    background: #969696;
    content: '';
}
.history_left_block_inner a:hover, .history_left_block_inner a.active {
    color: #f00;
}
.history_left_block_inner a:hover:after, .history_left_block_inner a.active:after, .history_left_block_inner a.active:before {
    background-color: #f00;
}
.column_inner_2 .history_left_stripe.red_stripe:after {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f00;
    content: '';
    display: block;
    position: absolute;
    z-index: 10000000;
}
.history_left_block_inner a.active:before {
    top: -10000px;
}
.period_container {
    margin-bottom: 40px;
}
.period_container.animated {
    background: #F7F7F7;
    position: relative;
    z-index: 100000;
}

.period_container.animated * {
    position: relative;
    z-index: 10000000;
}
.period_container.animated:after {
    content: '';
    top:-20px;
    left: 50%;
    height: 100%;
    width: 712px;
    background: #F7F7F7;
    display: block;
    position:absolute;
    margin-left: -362px;
    padding: 20px 0 30px;
}
.itemFullText h4 {
    position: relative;
}
.itemFullText h4 a {
  position: absolute;
  top: -90px;
}