extends ../layout

block title
	title СОБЫТИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/events.js' + version)


block content
	.content_title События
	.content_navigate_block
		.navigate_title Филиалы:
		.navigate_items_block
			each subsidiary in subsidiarys
				.navigate_item= subsidiary.i18n.title.get('ru')

	.content_navigate_block
		.navigate_title Категории:
		.navigate_items_block
			each category in categorys
				.navigate_item= category.i18n.title.get('ru')

	.content_outer_block
		.content_item.event 1
		.content_item.event.important 2
		.content_item.event 3
		.content_item.event 4
		.content_item.event 5
		.content_item.event.important 6
		.content_item.event 7
		.content_item.event 8
		.content_item.event 9
		.content_item.event 10
		.content_item.event 11
		.content_item.event 12

block scroll
	.content_title
	.content_scroll_items
		img.content_scroll_item(src='/images/design/backgrounds/01.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/02.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/03.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/04.jpg')