extends ../../layout
include ../forms.jade

block title
	title ДОБАВИТЬ БАННЕР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth/banners') < Назад
		button.toggle_eng(type='button') перевод
		.title ДОБАВИТЬ БАННЕР
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Номер:
			input(name='num', type='number')
			.form_title Ссылка:
			input(type='text', name='link')
			.form_title Большой баннер:
			input(type='checkbox', name='top', value='true')
			hr
			.form_title Мобильный баннер:
			input(type='checkbox', name='mobile')
			hr
			.form_title HTML-Баннер:
			input(type='checkbox', name='html', value='true')
			.form_title HTML-Код:
			textarea(type='text', name='code')
			.form_title Изображение:
			input(type='file', name='image')
			br
			br
			input(type='submit', value='отправить')