extends ../layout

block title
	title КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/contacts.css' + version)

block content_scripts
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
	script(type='text/javascript', src='/build/js/g_maps.js' + version)
	script(type='text/javascript', src='/build/js/contacts.js' + version)


block content
	.content_title Контакты