extends ../layout

block title
	title СТАЖИРОВКИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/internships.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/internships.js' + version)


block content
	.content_title Стажировки