extends ../layout

block title
	title КОМАНДА

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/team.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/team.js' + version)


block content
	.content_title Команда