extends ../../layout

block title
	title ОФИЦИАЛЬНАЯ ИНФОРМАЦИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title ОФИЦИАЛЬНАЯ ИНФОРМАЦИЯ
	br
	a.add(href='/auth/officials/add') добавить материал
	br
	br
	.main_menu_block
		each item in officials
			.officials
				a.rm_officials(href='#', id=item._id)= 'удалить '
				!=' | '
				a(href='/auth/officials/edit/' + item._id)= item.i18n.title.get('ru')