doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					a.header_logo(href='/')
					.menu_block.left
						a(href='/about') О музее
						a(href='/virtual') Виртуальный музей
						a(href='/events') События
						a(href='/contacts') Посетителям
						a(href='/partners') Партнерство
						a(href='/live') Живая история
						a(href='/auth') ЗВЕЗДОЧЕТ
					.menu_block.right
						.social_block
							a(href='http://vk.com', target='_blank'): img(src='/images/design/social/vk.png')
							a(href='http://facebook.com', target='_blank'): img(src='/images/design/social/facebook.png')
							a(href='http://twitter.com', target='_blank'): img(src='/images/design/social/twitter.png')
							a(href='http://instagram.com', target='_blank'): img(src='/images/design/social/instagram.png')
						.options_block
							.option.search поиск
							.option.lang EN
				.search_block
					.search_inner
						input.search_input(type='text', placeholder='Найти...')
						.search_result
							.search_context.exhibits
								.context_title Экспонаты:
								.context_results_block
							.search_context.events
								.context_title События:
								.context_results_block
			.content_block
				.content_columns_block
					.content_column.main
						.column_inner_block
							block content
							.footer_block 2014. Государственный центральный музей современной истории России. Все права защищены. Использование материалов сайта разрешено только с предварительного согласия правообладателей.
					.content_column.scroll
						.column_inner_block
							block scroll