doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					.header_logo
					.menu_block.left
						a(href='/') главная
						a(href='/contacts') контакты
						a(href='/auth') ЗВЕЗДОЧЕТ
					.menu_block.right
						.social_block
							a(href='http://vk.com', target='_blank'): img(src='/images/design/social/vk.png')
							a(href='http://facebook.com', target='_blank'): img(src='/images/design/social/facebook.png')
							a(href='http://twitter.com', target='_blank'): img(src='/images/design/social/twitter.png')
							a(href='http://instagram.com', target='_blank'): img(src='/images/design/social/instagram.png')
						.options_block
							.option.search поиск
							.option.lang EN
				.search_block
					.search_inner
						input.search_input(type='text', placeholder='Найти...')
						.search_contexts_block
			.content_block
				.content_columns_block
					.content_column.main
						.content_inner
							block content
							.footer_block 2014. Государственный центральный музей современной истории России. Все права защищены. Использование материалов сайта разрешено только с предварительного согласия правообладателей.
					.content_column.scroll
						.content_inner
							block scroll