doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				.head_title_block
				.menu_block
					a(href='/events') СОБЫТИЯ
					a(href='/contacts') КОНТАКТЫ
			.content_right_block
				block content_right
			.content_block
				block content