doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					.header_logo
					.menu_block.left
						a(href='/') главная
						a(href='/events') события
						a(href='/contacts') контакты
					.menu_block.right
						.social_block
							a(href='http://vk.com', target='_blank'): img(src='/images/design/social/vk.png')
							a(href='http://facebook.com', target='_blank'): img(src='/images/design/social/facebook.png')
							a(href='http://twitter.com', target='_blank'): img(src='/images/design/social/twitter.png')
							a(href='http://instagram.com', target='_blank'): img(src='/images/design/social/instagram.png')
						.options_block
							.option.search поиск
							.option.lang EN
					.menu_alt_block
			.content_block
				.content_columns_block
					.content_column.main
						.content_inner
							block content
							.footer_block 2015
					.content_column.scroll
						.content_inner
							block scroll