.column_main_inner
	&.stop_scroll
		height 100%
		overflow hidden

.exhibit
	cursor pointer

.images_preview_block
	position absolute
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.7)
	z-index 99

.image_preview
	cursor pointer
	position fixed
	top 0
	left 0
	bottom 0
	right 0
	margin auto
	height 600px
	display none
	&:nth-child(1)
		display block