.content_item
	&:hover
		opacity 0.9
	.item_description
		.item_title
			font-weight normal
			text-align center



@media screen and (max-width: 920px)
	.content_item
		height 380px
		background #fff
		overflow hidden