.content_column
	&.main
		background-color #DFA3D7
	&.scroll
		background-color #48A1DF
		.content_scroll_item
			height 500px
			background-color #647A8A
			margin-bottom 10px

.content_item
	width 220px
	margin-bottom 20px
	float left
	&.event
		min-height 220px
		background-color #647A8A
		&.important
			width 460px
			height 460px