.item_subs
	&:after
		display block
		font 10pt/12pt 'PT Sans'
		color #b8b8b8
	&.subs_after556497bc1d8dfbcaafaaccb1
		&:after
			content '«Подпольная типография 1905-1906 гг.»'

	&.subs_after5554802d925b59736836106d
		&:after
			content 'ГЦМСИР'
	&.subs_after5554824d925b597368361079
		&:after
			content '«Пресня»'
	&.subs_after55548546925b59736836107d
		&:after
			content '«Подпольная типография 1905-1906 гг.»'
	&.subs_after55548826925b597368361085
		&:after
			content 'Экспозиция на Делегатской «Мой дом — Россия»'
	&.subs_after555488b2925b59736836108d
		&:after
			content '«Квартира Г.М. Кржижановского»'
	&.subs_after555488c4925b59736836108e
		&:after
			content '«Музей-галерея Е.Евтушенко»'
	&.subs_after555488cf925b59736836108f
		&:after
			content 'Мемориал «Катынь»'
	&.subs_after555488d8925b597368361090
		&:after
			content 'Мемориальный комплекс «Медное»'