.event_type_block
	display inline-block
	margin-bottom 25px
	&:before
		content '||'
		margin-left 10px
		display inline-block
	a
		margin-left 10px
		cursor pointer
	.active
		background #000
		color #fff