.add
	float left
	line-height 16pt
	&:after
		content '||'
		margin-left 10px
		display inline-block
.event_type_block
	display inline-block
	margin-bottom 25px
	a
		margin-left 10px
		cursor pointer
		line-height 16pt
	.active
		background #000
		color #fff
	.last
		&:after
			clear both
			float none
			content ''
			display block