.content_item
	&:hover
		&:after
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background rgba(0,0,0,0.2)
			content ''
			z-index 0

@media screen and (max-width: 920px)
	.content_item
		height 380px
		background #fff
		overflow hidden