body
	margin 0
	padding 0

html, body, .main_block, .content_block, .content_columns_block, .content_column
	height 100%

.header_block
	position absolute
	width 100%
	background-color #8A4B23
	z-index 999

.search_block
	width 100%
	display none
	background-color #318A4E

.search_input
	display block
	width 100%
	font-size 24pt
	background-color #318A4E
	border 0
	margin 0
	padding 0
	outline none

.search_result
	width 100%
	margin-top 10px
	background-color #318A4E

.search_context
	display none

.header_inner
.search_inner
	width 1280px
	padding-top 10px
	padding-bottom 10px
	margin 0 auto
	overflow hidden

.menu_block
	overflow hidden
	&.left
		float left
		a
			margin-left 15px
			color white
			margin-top 6px
			display inline-block
			text-decoration none
	&.right
		float right

.social_block
	float left
	 img
			width 25px

.options_block
	float left
	margin-left 10px
.option
	margin-left 5px
	float left
	cursor pointer
	display block

.header_logo
	width 60px
	height 30px
	display block
	float left
	background-color #4C8A36

.content_columns_block
	overflow hidden
	width 1280px
	margin 0 auto

.content_column
	padding-top 80px
	box-sizing border-box
	overflow scroll
	&.main
		width 960px
		float left
		.content_inner
			padding-right 20px
	&.scroll
		width 320px
		float left

.content_title
	margin-bottom 30px
	font-size 24pt

.footer_block
	padding-top 20px
	padding-bottom 10px
	text-align center