body
	margin 0
	padding 0
	font 12pt/14pt 'PT Sans'

a
b
strong
span
div
img
h1
h2
h3
h4
p
h5
h6
ul
li
	margin 0
	padding 0
	outline 0
p
	margin-top 10px
	margin-bottom 10px

html, body, .main_block, .content_block, .content_columns_block, .content_column, .column_inner_block
	height 100%

.header_block
	position absolute
	width 100%
	background-color rgba(0, 0, 0, 0.7)
	z-index 999

.search_block
	width 100%
	display none

.search_input
	display block
	width 100%
	font-size 20pt
	color white
	background-color rgba(0, 0, 0, 0)
	border 0
	margin 0
	padding 0
	outline none

.search_result
	width 100%
	margin-top 10px
	display none
	color white
	a
		color white

.search_context
	display none

.header_inner
.search_inner
	width 1280px
	padding-top 10px
	padding-bottom 10px
	margin 0 auto
	overflow hidden

.menu_block
	overflow hidden
	&.left
		float left
		.menu_item_block
			margin-left 15px
			float left
			.menu_item
				display block
				margin-top 4px
				font 12pt/14pt 'PT Sans'
				color white
				text-decoration none
				&:hover
					color rgb(196, 20, 59)
			.menu_drop
				width 115px
				margin-left -10px
				padding-top 10px
				position absolute
				display none
				.drop_inner
					width 115px
					padding 0 10px 10px 10px
					background-color rgba(0, 0, 0, 0.7)
			&:hover .menu_drop
				display block
	&.right
		float right

.social_block
	float left
	a
		color white
		font 25px/25px 'Icons'
		display block
		float left
		margin-right 5px
		width 25px
		text-decoration none
		&:hover
			color rgb(196, 20, 59)

.options_block
	color white
	float left
	border-left 1px solid white
	margin-left 10px
.option
	margin-left 10px
	float left
	cursor pointer
	display block
	&:hover
		color rgb(196, 20, 59)
	&.lang
		margin-top 4px
	&.search
		width 25px
		height 25px
		font 25px/25px 'Icons'
		background-size cover

.header_logo
	display block
	overflow hidden
	margin-right 0px
	float left
	.logo_image
		min-width 50px
		height 23px
		display block
		float left
	.logo_title
		margin-left 15px
		color white
		text-decoration none
		width 200px
		float left
		font 8pt/10pt 'PT Serif'

.content_columns_block
	overflow hidden
	width 1280px
	margin 0 auto

.content_column
	box-sizing border-box
	&.main
		overflow hidden
		width 960px
		float left
		.content_title
			padding-top 90px
			margin-bottom 60px
			font 24pt/26pt 'PT Serif'
		.content_date
			margin-bottom 60px
			color #7e7e7e
			font 16pt/18pt 'PT Sans'
		.column_main_inner
			width 975px
			padding-right 25px
			overflow-y scroll
			height 100%
		.content_outer_block
			overflow hidden
	&.scroll
		overflow hidden
		width 320px
		float left
		.content_title
			top 70px
			width 320px
			box-sizing border-box
			padding 10px
			position absolute
			color white
			text-shadow: 1px 1px 2px black, 0 0 2em black;
			font 14pt/16pt 'PT Serif'
		.content_scroll_items
			overflow-y scroll
			width 335px
			height 100%
			.content_scroll_item
				width 100%
				display block

.content_navigate_block
	overflow hidden
	margin-bottom 30px
	.navigate_title
		font-size 12pt
		float left
		font-weight bold
	.navigate_items_block
		float left
		.navigate_item
			padding-left 3px
			padding-right 3px
			border 1px solid white
			float left
			margin-left 5px
			font-size 12pt
			cursor pointer
			&:hover
			&.selected
				border 1px solid black

.footer_block
	font 10pt/12pt 'PT Serif'
	width 540px
	margin 0 auto
	padding-top 20px
	padding-bottom 10px
	text-align center
	margin-top 60px
	border-top 1px solid #7e7e7e