.content_column
	&.main
		background-color #DFA3D7
		.content_scroll_block
			width 100%
			height 120px
			background-color #647A8A
			margin-top 10px
	&.scroll
		background-color #48A1DF
		.content_scroll_block
			width 100%
			height 500px
			background-color #647A8A
			margin-top 10px