.content_item
	&.event
		float right
	&.news
		// background-color #604A8A
		float none
		margin-bottom 20px
		min-height 0px
		border-bottom 1px solid #B8B8B8
		.item_title
			padding-bottom 5px
		.item_date
			font 10pt/12pt 'PT Sans'
			color rgb(196, 20, 59)
		&:last-child
			margin-bottom 0px

.content_news_block
	// background-color #318A4E
	width 220px
	float right
	margin-bottom 20px


// Test


.content_item.h1
	height 280px

.content_item.h2
	height 520px