// global
.content_column.main
	@media screen and (max-width: 920px)
		.content_outer_block
			position static!important
			height auto!important
			display flex
			flex-flow row wrap
			justify-content space-between
			padding 0 10px
		.content_item
			order 2
			position static!important
			width calc(50vw - 40px)
			margin 10px
			// flex-grow 1
			flex-grow: 0
			flex-shrink: 0
			// transition none!important
			// transform none!important
			// opacity 1!important
			@media screen and (max-width: 350px)
				width calc(100vw - 40px)
			&.event
				height 380px
				background #fff
				overflow hidden
			&:nth-child(3)
				order 0
			&:nth-child(4)
				order 0
			&:nth-child(5)
				order 0
			&:nth-child(6)
				order 0

			&.news
			&.officials
				width 100%
				max-width 100%
				margin 0 0
				padding 20px 10px
		.content_news_block
			order 1
			position static!important
			margin 24px 24px 0
			background #fff
			flex 1 1 100%
			.banners_block
				height auto!important
				.twitter_block
					display none
		.content_item
			.item_image
				display none
			.item_description
				padding 8px 8px 0
			&:hover
				&:after
					display none
		.content_item.important
			background-image none
			&.event
				width calc(100vw - 60px)
				flex-grow 1
				height 550px
				display flex
				flex-direction column
				justify-content flex-end
				background-size cover
				background-position 50% 0
				.item_description
					position static!important
					width 100%
					height 221px
					background rgb(71, 71, 71)
					text-shadow none

.item_mobile_background
	display none
	height 154px
	background-size cover
	background-position 50%
	background-repeat no-repeat
	@media screen and (max-width: 920px)
		display block

.item_mobile_background
	height 154px

.important .item_mobile_background
	height 332px

.content_navigate_block
	@media screen and (max-width: 920px)
		margin 0 15px

.footer_newsletter
	#sp-form-114558
		padding 0
		border none
		margin 10px auto
		.sp-field
			padding 0
			*
				text-align center!important
				font-size 12px

			.sp-form-control
				border-radius 0
				border-color transparent
				font-family 'PT Sans'
				border-bottom: 1px solid #ccc;
				background: transparent;
			.sp-button
				background: #777;
				margin-top: 10px;
				margin: 8px auto;
				display: block;
				font-size: 12px;
				font-family: 'PT Sans';
				font-weight: normal;
				&:hover
					top: 0!important

		.sp-link-wrapper.sp-brandname__left
			display none!important