body
.menu_block.left .menu_item_block .menu_item
.content_navigate_block .navigate_items_block .navigate_item
.content_navigate_block .navigate_title
	@media screen and (max-width: 1280px)
		font-size 14pt
		line-height 16pt

.menu_block.left .menu_item_block .menu_item
	@media screen and (max-width: 1280px)
		margin-top 8px

.content_block .content_item .item_description .item_date
	@media screen and (max-width: 1280px)
		font-size 12pt
		line-height 14pt

.logo_title
	@media screen and (max-width: 1280px)
		display none

.header_logo
	@media screen and (max-width: 1280px)
		margin-right 10px
		position relative

.header_logo .logo_title
	@media screen and (max-width: 1280px)
		width 40px

.content_columns_block
	@media screen and (max-width: 1280px)
		width 1000px

.content_block
	@media screen and (max-width: 1280px)
		width 1000px
		margin 0 auto
.header_inner
	@media screen and (max-width: 1280px)
		width 1000px
		margin 0 auto
		padding 10px

.content_column.main
	@media screen and (max-width: 1280px)
		width 770px
		margin-left 10px

.content_column.main .column_main_inner
	@media screen and (max-width: 1280px)
		width 780px

.content_column.scroll
	@media screen and (max-width: 1280px)
		width 220px

.content_scroll_items
	@media screen and (max-width: 1280px)
		width 235px