body
	@media screen and (max-width: 1280px)
		overflow hidden
body
.menu_block.left .menu_item_block .menu_item
.content_navigate_block .navigate_items_block .navigate_item
.content_navigate_block .navigate_title
	@media screen and (max-width: 1280px)
		font-size 13pt
		line-height 15pt

.menu_block.left .menu_item_block .menu_drop
	@media screen and (max-width: 1280px)
		padding-top 11px

.content_block .content_item .item_description .item_date
	@media screen and (max-width: 1280px)
		font-size 12pt
		line-height 14pt

.content_column.main
	@media screen and (max-width: 1280px)
		-webkit-overflow-scrolling touch

.content_scroll_items
	@media screen and (max-width: 1280px)
		width 295px

.content_columns_block .content_column.scroll .content_scroll_item
	@media screen and (max-width: 1280px)
		width 270px
		height auto
		min-height 100px