.content_item
	width auto!important
	max-width 100%!important
	float none
	clear both
	min-height auto
	display list-item
	margin-left 1.5em!important
	list-style-type decimal
	a.item_title
		color #000
		&:hover
			color #888


.content_outer_block
	display block!important