.info_block_title
	font 20pt/21pt 'PT Serif'
	margin-top 25px
	margin-bottom 12px

.schedule_block
	overflow hidden

.schedule_block_inner
	width 240px
	float left

.schedule_block_inner
	width 460px
	float left

.schedule_block_inner:nth-child(1)
	margin-right: 20px

.highlited_block
	font-weight bold
