.content_column
	&.main
		// background-color #DFA3D7
	&.scroll
		// background-color #48A1DF
		.content_scroll_item
			// background-color #647A8A
			width 320px
			min-height 200px
			display block

.info_block_title
	font 20pt/21pt 'PT Serif'
	margin-top 25px
	margin-bottom 12px

.schedule_block
	overflow hidden

.schedule_block_inner
	width 240px
	float left

.schedule_block_inner
	width 460px
	float left

.schedule_block_inner
	&:nth-child(1)
		margin-right 20px
	&:nth-child(2)
		width 450px

.highlited_block
	font-weight bold

span.highlited_block
	margin-right 5px
