.content_column.scroll .content_scroll_item
	width 320px
	min-height 200px
	display block

.content_item.map.important
	width 620px
	height 550px
	background url(/images/design/subsidiarys/mapa.png) no-repeat
	filter grayscale(1)

.content_item.right
	width 260px

.content_items
	font-family 'PT Serif'
	margin-bottom 13px
	font-size 15pt