.content_item
	height 220px
	background transparent
	.item_image
		width 150px
		margin 0 auto
		overflow hidden
	&.important
		background-size 400px
		background-position 50% 0
		background-repeat no-repeat
	.item_description
		width 190px
		margin 0 0px 0 30px
		font 12pt/14pt 'PT Serif'
		.item_type
			font 10pt/10pt 'PT Serif'
			color #969696

.content_item.important .item_description .item_title
	font 16pt/18pt 'PT Serif'
	color #000
	text-shadow none
	text-align center

.content_item.important .item_description
	text-align center
	text-shadow none
	margin-left: 0;