svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='19px', height='35px', viewBox='0 0 19 35', enable-background='new 0 0 19 35', xml:space='preserve')
  path(d='M8.9,35C8,35,7.5,35,4,23.4C2.3,18.1,0.6,12,0.2,10.5c-0.6-2.7-0.1-5.3,1.5-7.3C3.4,1.2,6,0,8.9,0c3.3,0,6,1.1,7.8,3.2\
  c1.6,1.9,2.3,4.4,1.8,7.3c-0.2,1.6-2.3,7.9-4.2,13.1C10.3,35,9.7,35,8.9,35z M8.9,2C6.6,2,4.6,2.9,3.3,4.5C2.1,6,1.7,8,2.2,10.1\
  c0.6,2.5,4.9,17.4,6.8,22c2.1-4.5,7.3-19.6,7.6-21.9c0.3-2.3-0.1-4.3-1.4-5.7C13.8,2.9,11.5,2,8.9,2z')
  ellipse#Oval(cx='9.5', cy='10', rx='3.6', ry='3.5')