extends ../layout
include ../events_list.jade

block title
	title ГЛАВНАЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)

block content
	- var months = ['января', 'февраля', 'мара', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
	.content_title Историю создаете вы
	a.content_banner(href= 'http://pobedaonline.ru/')
	.content_navigate_block
		.navigate_title Наши последние события:
		.navigate_items_block
			//- .navigate_item.excursion Экскурсии
			.navigate_item.exhibition Выставки
			//- .navigate_item.lecture Лекции
			.navigate_item.action Мероприятия
			.navigate_item.xxi Тверская XXI
	.content_outer_block
		.content_news_block
			each item in news
				a.content_item.news(href='/news/' + item._id)
					.item_title= item.i18n.title.get('ru')
					.item_date= item.date.getDate() + ' ' + months[item.date.getMonth()] + ' ' + item.date.getFullYear()
			a.content_item.news.content_news_goto(href= '/news/') Перейти в новости
		.content_events_block
			+eventsList(events)

block scroll
	.content_title Государственный центральный музей современной истории России
	.content_scroll_items
		include ../gallerys/main.jade