extends ../layout

block title
	title ГЛАВНАЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery-swing-scroll.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)


block content
	.content_title голубок
	.content_outer_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block
		.content_scroll_block

block scroll
	.content_title розочка
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block
	.content_scroll_block