extends ../layout

block title
	title ФИЛИАЛЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/subsidiarys.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)

block content_scripts
	//script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/subsidiarys.js' + version)

block content
	.content_title Филиалы
	.content_outer_block
		.content_item.map.important
			.subsidiary_item.gcmsir(data-fil='gcmsir')
			.subsidiary_item.presnya(data-fil='presnya')
			.subsidiary_item.podp(data-fil='podp')
			.subsidiary_item.deleg(data-fil='deleg')
			.subsidiary_item.krzh(data-fil='krzh')
			.subsidiary_item.evtush(data-fil='evtush')
			.subsidiary_item.katyn(data-fil='katyn')
			.subsidiary_item.mednoe(data-fil='mednoe')


		.content_item.right
			p В структуру музея Современной истории России входят	8 отделов, включая два мемориальных комплекса.
			p Музей предлагает специальные единые абонементы на посещение всех отделов музея.

			.content_items.gcmsir(data-fil='gcmsir') ГЦМСИР >
			.content_items.presnya(data-fil='presnya') «Пресня» >
			.content_items.podp(data-fil='podp') «Подпольная типография >
				br
				| 1905-1906 гг.»
			.content_items.deleg(data-fil='deleg') Экспозиция на Делегатской >
				br
				| «Мой дом — Россия»
			.content_items.krzh(data-fil='krzh') «Квартира Г.М. Кржижановского» >
			.content_items.evtush(data-fil='evtush') «Музей-галерея Е.Евтушенко» >
			.content_items.katyn(data-fil='katyn') Мемориал «Катынь» >
			.content_items.mednoe(data-fil='mednoe') Мемориальный комплекс >
				br
				| «Медное»


block scroll
	.content_title
	.content_scroll_items
		img.content_scroll_item(src='/images/design/backgrounds/01.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/02.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/03.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/04.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/01.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/02.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/03.jpg')
		img.content_scroll_item(src='/images/design/backgrounds/04.jpg')