extends ../layout

block title
	title ФИЛИАЛЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/history.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/history.js' + version)


block content
	.content_title Филиалы