extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ ФИЛИАЛ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/subsidiarys/') < Назад
		.title РЕДАКТИРОВАТЬ ФИЛИАЛ
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', subsidiary)
			.form_title Адрес:
			+form_text_single('adress', subsidiary)
			.form_title Описание:
			+form_text_multi('description', subsidiary)
			.form_title Изображения:
			.form_images_upload
				.form_desc_title Перетащи сюда
			br
			br
			input(type='submit', value='отправить')