.content_scroll_item
	img(src='/images/design/backgrounds/main/00.jpg')
	.content_image_description Работы по сооружению подземного коллектора на Крещатике. СССР, УССР, Киев, май 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/02.jpg')
	.content_image_description Празднование 1 мая. Демонстрация представителей трудящихся. Москва 1954 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/03.jpg')
	.content_image_description Легендарный автобус Народного ополчения Крыма. Симферополь, 12 августа 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/04.jpg')
	.content_image_description Парковка велосипедов на Тверском бульваре. Девушка набирает код, чтобы взять велосипед на прокат. Москва, август 2013 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/05.jpg')
	.content_image_description Народный депутат СССР А.Д. Сахаров в момент выступления на I съезде народных депутатов СССР.

.content_scroll_item
	img(src='/images/design/backgrounds/main/06.jpg')
	.content_image_description Маршал Г.К. Жуков подписывает акт капитуляции фашистской Германии. Германия, Карлсхорст 08 мая 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/07.jpg')
	.content_image_description Плакат на здании «Строим новый российский Крым!» на площади Ленина. РФ, Крым, Симферополь, 15 августа 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/08.jpg')
	.content_image_description Митинг в поддержку присоединения Крыма к РФ. Москва 18 марта 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/09.jpg')
	.content_image_description Первый день эстафеты Олимпийского огня «Сочи 2014». Первый факелоносец – пятикратная Олимпийская чемпионка Анастасия Давыдова спускается со сцены к своему отрезку пути. Россия Москва, 7 октября 2013 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/01.jpg')
	.content_image_description Армейская самодеятельность в часы досуга. Севастополь, апрель 1942 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/10.jpg')
	.content_image_description Народный депутат СССР Б.Н. Ельцин на I съезде народных депутатов СССР.

.content_scroll_item
	img(src='/images/design/backgrounds/main/11.jpg')
	.content_image_description М.А. Шолохов в одном из своих кабинетов.

.content_scroll_item
	img(src='/images/design/backgrounds/main/12.jpg')
	.content_image_description Участие В.В. Путина во встрече глав государств и правительств «Группы восьми». Саванна США, июнь 2004 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/13.jpg')
	.content_image_description Встреча воинов Красной Армии с жительницей освобожденного Севастополя. Севастополь, май 1944 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/14.jpg')
	.content_image_description Заслуженная артистка РСФСР Русланова Л.А. с группой бойцов и командиров Красной Армии у здания Рейхстага. Берлин 13 мая 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/15.jpg')
	.content_image_description Патриарх Алексий II и Министр обороны РФ И.Д. Сергеев обсуждают проблемы сотрудничества, 23 февраля 1999 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/16.jpg')
	.content_image_description Ремонт комбайнов в пионерской МТС, СССР Рязанская область, май 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/17.jpg')
	.content_image_description Возвращение в родные места населения, после изгнания фашистов. Г.И. Плотников вместе с женой и детьми. Невель 1943 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/18.jpg')
	.content_image_description Рабочая поездка В.В. Путина в Уральский федеральный округ. Посещение клинической больницы. Курган, 2 октября 2006 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/20.jpg')
	.content_image_description Во время оформления приватизационных документов на кондитерской фабрике «Большевик».

.content_scroll_item
	img(src='/images/design/backgrounds/main/22.jpg')
	.content_image_description К.М. Симонов, корреспондент газеты «Красная звезда», Д.И. Ортенберг, начальник политотдела 38 армии и Украинского фронта, актриса В. Серова.

.content_scroll_item
	img(src='/images/design/backgrounds/main/23.jpg')
	.content_image_description Торжественная церемония вступления в должность президента РФ Путина В.В. Москва 7 мая 2000 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/24.jpg')
	.content_image_description Собака Лайка в герметической кабине перед установкой на спутнике. Москва, ноябрь 1957 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/25.jpg')
	.content_image_description Ново-Краматорский машиностроительный завод им Сталина. Сталинская область, февраль 1951 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/26.jpg')
	.content_image_description Жители города беседуют с первыми бойцами и командирами Красной армии, вошедшими в город. Ростов-на-Дону, февраль 1943 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/27.jpg')
	.content_image_description Автоматизация на Владимирском химическом заводе. Владимир 1959 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/28.jpg')
	.content_image_description Знамя Победы над Рейхстагом. Фото А.П. Морозова 2 мая 1945 года

.content_scroll_item
	img(src='/images/design/backgrounds/main/29.jpg')
	.content_image_description Союз ТМА-09М на старте. 26 марта 2013 года. Байконур.

.content_scroll_item
	img(src='/images/design/backgrounds/main/30.jpg')
	.content_image_description Первый космотнавт Юрий Алексеевич Гагарин.