extends ../layout

block title
	title Тест

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/test.css' + version)

block content_scripts
	script(src='https://anons24.ru/booking/widget_https.js')

block content
	.content_title
	.content_outer_block
		button(onclick='its_open_widget_by_event_id_partner(19, 1083)') Показать

block scroll
	.content_scroll_items
