body {
    /*background: url(../images/team.jpg) 50% 0 no-repeat;*/
    background-size: 1280px;
}
.main .contaniner {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.55);
    background: url(../images/side-collections.jpg) 100% 50%;
    background-size: 429px;
    background-repeat: repeat-y;
}
.container_block {
    height: auto;
}
.container_block.left_block {
    width: 67%;
}
.container_block.right_block {
    width: 33%;
    background: none!important;
    padding-top: 260px;
}
.collection_block {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}
.collection_item {
    width: 33.3%;
    float: left;
}
.collection_item_image,
.collection_item_name,
.collection_item_type{
    width: 210px;
}
.collection_item_image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 10px
}
.collection_item_name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.collection_item_type {
    font-style: italic;
}
.people_info {
    font-size: 14px;
    width: 230px;
    margin: 0px auto 30px;
}
.people_info * {
    width: 230px;
}
.people_info *:after {
    content:'';
}
.people_info .people_name {
    color: #f00;
}
.people_info .people_type {
    font-weight: bold;
}
.footer_credits {
  margin-bottom: 30px;
}
