body {
    /*background: url(../images/team.jpg) 50% 0 no-repeat;*/
    background-size: 1280px;
}
.main .contaniner {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.55);
}
.contaniner h2 {
    margin-right: 50px;
}
.container_block {
    height: auto;
}
.container_block.left_block {
    width: 67%;
    text-align: center;
}
.container_block.right_block {
    width: 33%;
    background: none!important;
    padding-top: 260px;
}
.sort_block {
    margin-right: 50px;
    margin-top: 35px;
}
.partners_info {
    text-align: center;
    border-top: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    padding: 20px 0;
    margin-bottom: 50px;
    font-size: 16px;
}
.partner_block {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}
.partner_item {
    width: 25%;
    float: left;
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
}
.partner_item > div {
    margin: 0 auto;
}
.partner_item:hover {
    filter:none;
    -webkit-filter:none;
}
.partner_item_image,
.partner_item_name,
.partner_item_type{
    width: 210px;
}
.partner_item_image {
    height: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 10px;
}
.partner_item_name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.partner_item_type {
    font-style: italic;
}
div#CDSWIDEXC.widEXC {
    margin: 0 auto;
}
.people_info {
    font-size: 14px;
    width: 230px;
    margin: 0px auto 30px;
}
.people_info * {
    width: 230px;
}
.people_info *:after {
    content:'';
}
.people_info .people_name {
    color: #f00;
}
.people_info .people_type {
    font-weight: bold;
}
.footer_credits {
  margin-bottom: 30px;
}
