/* ! ---- STATIC ---- ! */
/* ! ---- STATIC ---- ! */
/* ! ---- STATIC ---- ! */
/* ! ---- STATIC ---- ! */


@font-face {
    font-family: 'social';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/social.eot?39840041');
    src: url('../fonts/social.eot?39840041#iefix') format('embedded-opentype'),
           url('../fonts/social.woff?39840041') format('woff'),
           url('../fonts/social.ttf?39840041') format('truetype'),
           url('../fonts/social.svg?39840041#fontello') format('svg');
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 11px;
    width: 100%;
    font-family: 'PT Serif', serif;
    font-family: 'PT Sans', serif;    
    color: #000;

}
html {
    background: url(../images/bg-white-noise.jpg) 0 0 repeat fixed;
}
body {
   /* background: url(../images/02.jpg) 50% 0 no-repeat;
    background-size: 1280px;*/
}
ul, li, div, img, h1, h2, h3, h4, article, input, section, label, p {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
a {
    color: #333;
}
a:hover {
    color: #f00;
}
.main {
    font-size: 17px;
}
.main .contaniner {
    max-width: 1280px;
    min-width: 1000px;
    margin: 0 auto;
}
.header {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000000;
}
.menu_cont {
    height: 67px;
    margin-bottom: 20px;
    width: 1262px;
    margin: 0 auto;
    padding: 0 9px;
    line-height: 67px;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.62);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    position: relative;
}
.menu_cont .title {
    float: right;
    width: 630px;
    position: relative;
}
.menu_cont .title .after {
    position: absolute;
    top: 11px;
    left: -591px;
    width: 70px;
    height: 38px;
    display: block;
    background: url(../images/logo.png) 50% 0 no-repeat;
    background-size: 100%;
}
.menu_cont .title .after:after {
    content: '������';
    top: 8px;
    left:0;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 12px;
    letter-spacing: 2px;
}
.menu_cont .title .after:hover:after {
    text-decoration: none;
    color: #fff;
}
.menu_cont .title:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 17px;
    width: 298px;
    height: 38px;
    display: block;
    background: url(../images/soc.png) 50% 0 no-repeat;
    background-size: 100%;
}
.menu_cont a {
    color: #fff;
    text-decoration: none;
}
.menu_cont a:hover {
    color: #ccc;
    cursor: pointer;
}
.menu_cont .title .title_logo {
    font-family: 'fontello';
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
}
.menu_cont .title .title_text {
    display: block;
    font-size: 29px;
    width: 386px;
    font-weight: normal;
    position: relative;
    text-align: right;
    margin: 0;
    color: #fff!important;
}
.menu_cont .title .title_text:after {
    content: '*';
    position: absolute;
    right: -56px;
    top: 6px;
    font-size: 49px;
}
.menu {
    float: left;
    margin-left: 32px;
    width: 619px;
    position: absolute;
    left: 106px;
    top: 3px;
}

.title_logo a {
    width: 23px;
    display: inline-block;
    font-size: 17px;
}
.title:hover * {
    color:#ccc;
    cursor: pointer;
}
.menu li.language_change {
    height: 23px;
    width: 31px;
    display: inline-block;
    position: relative;
    display: none;
}
.language_change:after {
    content:'';
    position:absolute;
    top:3px;
    left:0;
    height: 23px;
    width: 31px;
    background: url(../images/logo_eng.png) 0 -53px no-repeat;
}
.contaniner {
    margin: 0 auto;
    float: none;
    clear: both;
    position: relative;
    /* overflow: hidden; */
}
.contaniner_inner {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color:#fff;
}
.contaniner_inner:after {
    position: absolute;
    content: '';
    top: 122px;
    left: 52px;
    background: #000;
    width: 400px;
    height: 400px;
    z-index: 1000;
}
.contaniner h2 {
    font-weight: 200;
}
h3 {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 40px;
}
.container_block {
    width: 50%;
    height: 1260px;
    /* overflow: hidden; */
    float: left;
    background-color: #FFF!important;
}
.container_block.right_block {
    background: url(../images/second.jpg) 0 0 repeat-y;
        -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .05s;
       -moz-transition-duration: .05s;
         -o-transition-duration: .05s;
            transition-duration: .05s;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    background-size: 426px;
    background-position: 100% 0;
}
.contacts_inner h3 {
    font-size: 37px;
    font-weight: 100;
    margin-bottom:20px
}
.contacts_inner p {
  font-size: 22px;
    font-weight: 100;
  line-height: 28px;
}
.contaniner .contacts_inner {
    font-size: 16px;
    position: absolute;
    top: 230px;
    left: 61px;
    z-index: 100000;
    width: 370px;
    height: 210px;
    text-align: left;
}
.left_block h2, .title_text {
    margin-top: 139px;
    font-size: 41px;
    margin-left: 45px;
}
.title_text {
    font-family: 'PT Serif', serif;
    position: absolute;
    top: 83px;
    line-height: 36px;
    margin-left: 33px;
    right: -180px;
}
.works_inner {
    margin: 0 22px;
}
.contaniner.contacts {
    color: #000;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-top: 0;
}
.top_block {
    text-align: left;
    position: absolute;
    top: 125px;
    left: 56px;
    z-index: 100000;
    width: 370px;
    word-wrap: break-word;

}
.title_nrdn {
    font-size: 76px;
    font-weight: 100;
    line-height: 75px;
}
.prtf_item a {
    display: block;
    color: #000;
    height: 170px;
    text-decoration: none;
}
.contaniner.services {
    background: #fff;
}
.sort_block {
    margin-left: 45px;
    margin-top: 75px;
    font-size: 14px;
}
.sort_block_title {
    font-weight: bold;
}
.sort_block_par>div {
    float: left;
    margin-right: 5px;
    text-decoration: underline;
}
.sort_block_par>div:hover {
    color: #f00;
    cursor: pointer;
}
.sort_block_par {
    font-size: 14px;
    margin-top: 8px;
    overflow: hidden;
}
.news_block {
    clear: both;
    float: none;
    margin-top: 19px;
    height: 670px;
    background-size:570px;
    position: relative;
}
.news_event {
    width: 178px;
    height: 217px;
    float: left;
    position: absolute;
    background-position: 50%;
    background-size: cover;
}
.news_event.event1 {
    top: 0;
    left: 0;
    width: 369px;
    height: 339px;
    background-image: url(../images/events/01.jpg);
}
.event1 .title {
    top: 282px;
    left: 15px;
    color: #fff;
    font-size: 17px;
    width: 320px;
}
.news_event.event2 {
    top: 0;
    left: 385px;
    background-image: url(../images/events/02.jpg);
}
.news_event.event3 {
    top: 354px;
    left: 0;
    width: 163px;
    height: 162px;
    background-image: url(../images/events/03.jpg);
}
.news_event.event4 {
    top: 354px;
    left: 180px;
    width: 190px;
    height: 198px;
    background-image: url(../images/events/04.jpg);
}
.news_event.event5 {
    top: 288px;
    left: 385px;
    height: 243px;
    background-image: url(../images/events/05.jpg);
}
.news_event.event6 {
    top: 587px;
    left: 0;
    background-image: url(../images/events/06.jpg);
    width: 163px;
}
.news_event.event7 {
    top: 587px;
    left: 0;
    background-image: url(../images/events/07.jpg);
    width: 163px;
}
.news_event.event8 {
    top: 587px;
    left: 0;
    background-image: url(../images/events/08.jpg);
    width: 163px;
}
.news_event.special_event {
    left: 596px;
    width: 174px;
    border-bottom: 1px solid #ccc;
}
.news_event.special_event span {
    color: #f00;
}
.news_event.special_event.sp_event1 {
    height: 190px;
}
.news_event.special_event.sp_event2 {
    top: 202px;
    height: 104px;
}
.news_event.special_event.sp_event3 {
    top: 315px;
}
.news_event .title {
    top:100%;
    width: 100%;
    position: absolute;
}
/* ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ */
.footer {
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #333;
}
.footer_credits {
    margin: 0px 0px 0px;
}
.social22 {
    margin: 40px 40px 30px 40px;
    border-top: 1px solid #ccc;
    padding-top: 40px;
    /* padding-right: 82px; */
}
.social22 li {
    display: inline-block;
}
.social22 li a {
    background: none;
    text-decoration: none;
    text-align: center;
    margin: 0 6px;
    color: #5C5C5C;
}
.social22 li a:hover {
    color:#252525;
}
.social22 li a:after {
    font-family: 'social';
    font-size: 21px;
}
.social22 li.fb a:after {
    content: '\e805';
}
.social22 li.vk a:after {
    content: '\e802';
}
.social22 li.tw a:after {
    content: '\e800';
}
.social22 li.vi a:after {
    content: '\e801';
}
.social22 li.pi a:after {
    content: '\e804';
}
.social22 li.in a:after {
    content: '\e803';
}
.special_menu {
    margin-bottom: 30px;
    /* margin-right: 60px; */
}
.special_menu a {
    margin: 0 6px;
    color: #494949;
}
/* ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â  ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â° */
.menu {
    padding-left: 12px;
}
.menu>li {
    display:inline;
    margin: 0 0 0 12px;
    position: relative;
}
.menu>li:first-child {
    margin-left: 0;
}
.menu_cont ul li a:hover {
    color: #f00;
}
.menu>li a {
    position:relative;
    z-index: 1000;
}
.menu>li>ul {
    position: absolute;
    top: 0;
    left: -10px;
    height: 0;
    overflow: hidden;
    padding-top: 41px;
    z-index: 100px;
}
.menu>li>ul>li {
    line-height: 16px;
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.62);
}
.menu>li>ul>li a:hover {
    color:#f00;
}
.menu>li>ul>li:nth-child(1) {
    border-top: 5px solid transparent;
}
.menu>li>ul>li:last-child {
    padding-bottom: 20px;
}
.menu>li:hover>ul {
    height: auto;
    -webkit-transition: linear height 0.8s;
    -moz-transition: linear height 0.8s;
    transition: linear height 0.8s;
}