extends ../layout

block title
	title ЭКСПОЗИЦИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/exposure.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/exposure.js' + version)


block content
	.content_title Экспозиция