extends ../layout

block title
	title= __('НОВОСТИ') + ' | ' + news.i18n.title.get(locale).toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/news_item.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/news_item.js' + version)


block content
	.content_title= news.i18n.title.get(locale)
	.content_date= news.date.getDate() + ' ' + months[news.date.getMonth()] + ' ' + news.date.getFullYear()
	.content_body: != news.i18n.description.get(locale)

	if (news.videos && news.videos.length == 1)
		.content_video_block
			each video in news.videos
				.content_video_item.important_video: != video
	else if (news.videos && news.videos.length > 1)
		.content_video_block
			each video in news.videos
				.content_video_item: != video

block scroll
	.content_title
	.content_scroll_items
		each image in news.images
			.content_scroll_item
				img(src=image.thumb)
				if (image.description[0].value != '')
					.content_image_description: != image.description[0].value

