.mel_div_outer {
display: table;
background: #f8f8f8;
width: 100%;
}
.mel_div {
display: table;
margin: 20px auto 60px;
width: 920px;
}
.mel_div a {
display: block;
width: 229px;
height: 230px;
float: left;
background-position: 50%;
background-size: cover;
border-top: 1px solid #f8f8f8;
-webkit-filter: grayscale(1) contrast(86%);
filter: url(css/grayscale.svg#greyscale);
filter: grayscale(100%);
filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
filter: gray;
border-left: 1px solid #f8f8f8;
}
.mel_div a:hover {
-webkit-filter: none;
filter: none;
}
.mel01 {background-image:url(../../../images/prev/01.jpg)!important;}
.mel02 {background-image:url(../../../images/prev/02.jpg)!important;}
.mel03 {background-image:url(../../../images/prev/03.jpg)!important;}
.mel04 {background-image:url(../../../images/prev/04.jpg)!important;}
.mel05 {background-image:url(../../../images/prev/05.jpg)!important;}
.mel06 {background-image:url(../../../images/prev/06.jpg)!important;}
.mel07 {background-image:url(../../../images/prev/07.jpg)!important;}
.mel08 {background-image:url(../../../images/prev/08.jpg)!important;}

.mel11 {background-image:url(../../../images/prev/11.jpg)!important;}
.mel12 {background-image:url(../../../images/prev/12.jpg)!important;}
.mel13 {background-image:url(../../../images/prev/13.jpg)!important;}
.mel14 {background-image:url(../../../images/prev/14.jpg)!important;}
.mel15 {background-image:url(../../../images/prev/15.jpg)!important;}
